{
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 80,
    "tabWidth": 4,
    "overrides": [
        {
            "files": [
                "*.yml",
                "*.yaml"
            ],
            "options": {
                "useTabs": true,
                "tabWidth": 2
            }
        }
    ]
}